@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html,
body {
  overflow-x: hidden;
  background-color: #1e1e1e;

  color: theme(colors.white);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main-container {
  @apply mx-auto px-5 xl:container;
}

@screen md {
  .main-container {
    @apply px-8;
  }
}
@screen md {
  .main-container {
    @apply px-10;
  }
}
